/* allen.in */
:root {
    /* Mode 1 */
    /* color */
    --color-azure-40: #025fca;
    --fill-primary-active: #0266da;
    --color-black-solid: #000000;
    --color-grey-11: #1c1d1d;
    --text-default-title: #1e1e22;
    --color-grey-29: #494a4a;
    --color-grey-6-20: #0f0f0f33;
    --color-grey-79: #c6c8cc;
    --color-grey-86: #dcdcdc;
    --color-grey-92: #e4e9f1;
    --color-grey-93: #eeeeee;
    --bg-primary: #edf2fa;
    --color-orange-49: #f66a05;
    --color-white-solid: #ffffff;
    /* number */
    --font-size-12: 0.75rem;
    --font-size-14: 0.875rem;
    --font-size-32: 2rem;
    --font-weight-400: 400;
    --font-weight-500: 500;
    --font-weight-600: 600;
    --font-weight-700: 700;
    --height-36: 2.25rem;
    --height-44: 2.75rem;
    --height-1200: 75rem;
    --item-spacing-2-5: 0.1562rem;
    --item-spacing-11-5: 0.7188rem;
    --item-spacing-20: 1.25rem;
    --item-spacing-40: 2.5rem;
    --item-spacing-56: 3.5rem;
    --item-spacing-70-27: 4.3919rem;
    --item-spacing-178-55: 11.1594rem;
    --item-spacing-178-93: 11.1831rem;
    --item-spacing-270-34: 16.8962rem;
    --item-spacing-283-21: 17.7006rem;
    --item-spacing-297-31: 18.5819rem;
    --item-spacing-608-03: 38.0019rem;
    --letter-spacing-0-3: 0.0188rem;
    --line-height-16: 1rem;
    --line-height-18: 1.125rem;
    --line-height-21: 1.3125rem;
    --line-height-22: 1.375rem;
    --line-height-24: 1.5rem;
    --line-height-30: 1.875rem;
    --line-height-42: 2.625rem;
    --opacity-100: 6.25rem;
    --radius-8: 0.5rem;
    --stroke-weight-1: 0.0625rem;
    --stroke-weight-2: 0.125rem;
    --width-272: 17rem;
    --width-1088: 68rem;
    --width-1440: 90rem;
    --width-1920: 120rem;
    /* string */
    --font-family-font-1: Plus Jakarta Sans;
}




/* Typography */

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraLight.29c579b8.ttf) format("truetype");
    font-weight: 100;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraLightItalic.756970a2.ttf) format("truetype");
    font-weight: 100;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraLight.29c579b8.ttf) format("truetype");
    font-weight: 200;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraLightItalic.756970a2.ttf) format("truetype");
    font-weight: 200;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-Light.627d7412.ttf) format("truetype");
    font-weight: 300;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-LightItalic.e85a1831.ttf) format("truetype");
    font-weight: 300;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-Regular.f58c2034.ttf) format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-Italic.f6e79833.ttf) format("truetype");
    font-weight: 400;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-Medium.f306b6bd.ttf) format("truetype");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-MediumItalic.41d9ffbf.ttf) format("truetype");
    font-weight: 500;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-SemiBold.8faa45c0.ttf) format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-SemiBoldItalic.fa7a56aa.ttf) format("truetype");
    font-weight: 600;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-Bold.7ff630fb.ttf) format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-BoldItalic.3b9831ef.ttf) format("truetype");
    font-weight: 700;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraBold.46a63cbd.ttf) format("truetype");
    font-weight: 800;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraBoldItalic.e193057d.ttf) format("truetype");
    font-weight: 800;
    font-style: italic;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraBold.46a63cbd.ttf) format("truetype");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Plus Jakarta Sans;
    src: url(/fonts/_next/static/media/PlusJakartaSans-ExtraBoldItalic.e193057d.ttf) format("truetype");
    font-weight: 900;
    font-style: italic;
    font-display: swap
}

:host,
html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    font-family: Plus Jakarta Sans;
    font-feature-settings: normal;
    font-variation-settings: normal;
    -webkit-tap-highlight-color: transparent;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0
}

body {
    max-width: 100vw;
    margin: 0;
    line-height: inherit;
}

a {
    text-decoration: none;
}



/* Footer */


footer {
    padding: 2.25rem 0;
    background: var(--bg-primary);
}

footer ul.no-style-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

footer ul.no-style-list li {
    list-style: none;
}

footer ul.no-style-list ul {
    padding: 0;
}

footer .grid.main-wrap.grid-cols-2 {
    display: flex;
    align-items: start;
    justify-content: space-between;
    gap: 20px;
    flex-wrap: wrap;
}

.footerListHeader {
    font-weight: 500;
}

footer a {
    color: var(--allen-in-cape-cod, #494A4A);
    font-family: var(--font-family-Font-1, "Plus Jakarta Sans");
    font-size: var(--font-size-12, 12px);
    font-style: normal;
    font-weight: var(--font-weight-500, 500);
    line-height: var(--line-height-16, 16px);
}

/* Header Styling */

header ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

header .header-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}

.left-col {
    flex-basis: 70%;
    display: flex;
    align-items: center;
    gap: 2.5rem;
    justify-content: space-between;
}

.flex.right-col {
    flex-basis: 30%;
    display: flex;
    gap: 1rem;
    justify-content: end;
}

.container.header-wrap {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

header.main-header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: var(--bg-primary);
    z-index: 999;
}

nav>ul>li {
    position: relative;
}

span.rounded.bg-orange {
    position: absolute;
    top: -43%;
    right: -75%;
}

nav {
    flex-basis: 80%;
}

header a {
    color: var(--text-default-title);
    font-weight: 500;
    line-height: 1rem;
    font-size: .875rem;
}

header button.solid-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 9px 16px;
    border-radius: 20px;
}

@media (max-width: 1024px) {
    .flex.right-col {
        flex-basis: 70%;
    }

    .left-col {
        flex-basis: 30%;
    }

    nav {
        display: none;
    }
}

button {
    cursor: pointer;
}

.solid-btn {
    padding: 14px 22px;
    color: white;
    border-radius: 40px;
    border: none;
    background-color: var(--fill-primary-active);
}

.solid-btn:hover {
    background-color: #0b54b1;
}

.outline-btn {
    color: var(--allen-in-shark, var(--color-grey-13, #1E1E22));
    text-align: center;
    padding: 9px 16px;
    font-family: var(--font-family-Font-1, "Plus Jakarta Sans");
    font-size: var(--font-size-12, 12px);
    font-style: normal;
    border-radius: 9999px;
    border: var(--stroke-weight-2, 2px) solid var(--allen-in-science-blue, #0266DA);
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-18, 18px);
    /* 150% */
}

.outline-btn:hover {
    background-color: #0f0f0f33;
}

span.rounded.bg-orange {
    border-radius: var(--radius-8, 8px) var(--radius-8, 8px) var(--radius-8, 8px) 0px;
    background: var(--color-orange-49, #F66A05);
    display: flex;
    width: 41.286px;
    padding: 1px 6px 0px 6px;
    flex-direction: column;
    align-items: flex-start;
    vertical-align: top;
    color: white;
    text-transform: uppercase;
    color: var(--allen-in-white, #FFF);
    font-family: var(--font-family-Font-1, "Plus Jakarta Sans");
    font-size: var(--font-size-12, 12px);
    font-style: normal;
    font-weight: var(--font-weight-700, 700);
    line-height: var(--line-height-16, 16px);
    /* 133.333% */
    letter-spacing: var(--letter-spacing-0_3, 0.3px);
}

.primary-bg{
background-color: var(--bg-primary);
} 

.standard-section-padding{
 padding: 2.25rem 0;
}

body .max-width-full{
    max-width: 100%;
}

.align-center{
    text-align: center;
}


/* Home Page */
/* Hero section */

.alert-container {
    padding: 2.25rem 0;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    padding: 1rem 0;
}

.hero-content {
    flex: 1;
    min-width: 300px;
}

.hero-title {
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    line-height: 1.2;
}

.hero-subtitle {
    font-size: 1rem;
    color: var(--color-grey-29);
    margin-bottom: 30px;
    line-height: var(--line-height-24);
    font-weight: var(--font-weight-600);
}

.course-buttons {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}

.slider-container {
    flex: 1;
    min-width: 300px;
    max-width: 500px;
    position: relative;
    overflow: hidden;
    border-radius: 20px;
}

.slide {
    width: 33.33%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.dots-container.dots {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

button.dot {
    border-radius: 999px;
    background-color: var(--color-grey-11);
    width: .75rem;
    height: .75rem;
    position: relative;
    border: none;
}

button.dot.bg-white\/50 {
    background-color: #0f0f0f33;
}

section#hero {
    background-color: var(--bg-primary);
    padding: 72px 0 0;
}

.slide {
    opacity: 0;
    /* Hidden by default */
    transition: opacity 0.5s ease-in-out;
}

.slide.active {
    opacity: 1;
    /* Visible when active */
}

.slide.inactive {
    opacity: 0;
    /* Keep others hidden */
}

@keyframes slideshow {

    0%,
    32% {
        margin-left: 0;
    }

    33%,
    65% {
        margin-left: -100%;
    }

    66%,
    100% {
        margin-left: -200%;
    }
}

img.full-width {
    width: 100%;
    height: auto;
}

.mobile-only {
    display: none;
}

.desktop-only {
    display: block;
}

.flex {
    display: flex;
}

.slider-transition {
    transition: all 0.5s;
}

.full-width-img {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    .hero {
        flex-direction: column;
    }

    .hero-title {
        font-size: 28px;
    }

    .slider-container {
        width: 100%;
    }

    .mobile-only {
        display: block;
    }

    .desktop-only {
        display: none;
    }

    .course-buttons {
        justify-content: center;
    }

    .hero-content {
        text-align: center;
    }
}




/* WhyAllenOnline */
.card-wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.25rem;
}

.card {
    padding: 1.5rem;
    padding-top: 3rem;
    background-color: var(--bg-primary);
    border-radius: 1rem;
    position: relative;
}

h3.card-subtitle {
    font-size: 1.125rem;
    color: var(--text-default-title);
    margin-bottom: 0.75rem;
}

p.card-description {
    font-size: .875rem;
    color: var(--color-grey-29);
    font-weight: 400;
}

.card img {
    position: absolute;
    top: -1.75rem;
}



.card-wrap {
    padding: 3.5rem 0 2rem;
}

.text-center {
    text-align: center;
}

section#why-allen-online {
    padding: 3rem 0;
}

h2.title {
    text-align: center;
}

.min-w-full {
    min-width: 100%;
    height: auto;
}

img.w-full.h-auto {
    width: 100%;
    height: auto;
}

@media (max-width: 500px) {
    .card-wrap {
        grid-template-columns: auto;
        gap: 50px;
    }
}

@media (max-width: 767px) and (min-width: 501px) {
    .card-wrap {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        row-gap: 50px;
    }
}


/* What's trending section */

.whats-trending-section .dots-container.dots {
    margin-top: 20px;
}

.whats-trending-section h2,
.meet-our-champions h2 {
    margin-bottom: 1.5rem;
}